.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 8px;
    max-height: 100%;
    overflow: auto;
}

.language {
    max-width: 20px;
}

.card {
    aspect-ratio: 2/3;
    border: 1px solid white;
    background-color: black;
    overflow: hidden;
}

.poster {
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 2/3;
}

.card:hover {
    cursor: pointer;
}

.grey {
    color: grey;
}

.yellow {
    color: yellow;
}


/* prova per fare le stelle metà gialle metà grigie senza avere icone già fatte */
.mid {
    width: 10px;
    overflow: hidden;

    >* {
        width: 20px;
    }

}

.mid.negative {
    >* {
        margin-left: -10.3px;
    }
}

.dFlex {
    display: flex;
}

.dFlex.gap {
    gap: 5px;
}