.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 8px;
    max-height: 100%;
    overflow: auto;
}

.language {
    max-width: 20px;
}

.card {
    aspect-ratio: 2/3;
    border: 1px solid white;
    background-color: black;
    overflow: hidden;
}

.poster {
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 2/3;
}

.card:hover {
    cursor: pointer;
}

.grey {
    color: grey;
}

.yellow {
    color: yellow;
}